* {
    font-family: sans-serif;
}
img {
    width: 150px;
    height: 110px;
}

.item {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    width: 25%;
}
.items {
    display:flex;
}
button {
    margin: 10px;
}